*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    margin: 50px 100px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    border: 2px solid black;
}

a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
