*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Image/background-img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    padding: 50px 200px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline; 
    color: white;
}

a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 250px;
    line-height: 30px;
    transition: all 0.4s ease-in-out;
}

a:hover{
    color:cadetblue;
}


