*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
} */

a{
    margin-top: 50px;
    margin-left: 400px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    border: 2px solid black;
}

a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
